<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.johncarter.thelon">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main_screens.LandingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".splash_screen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main_screens.LandingPageFoundation" />
        <activity android:name=".login_signup.Login" />
        <activity android:name=".login_signup.Signup" />
        <activity android:name=".home_tab.Home" />
        <activity android:name=".edit_profile.GeneralFragment" />
        <activity android:name=".home_details.home_details" />
        <activity
            android:name=".main_screens.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/NavDrawerItems" />
        <activity
            android:name=".portfolio.Portfolio"
            android:theme="@style/NavDrawerItems" />
        <activity android:name=".profile_tab.ProfileActivity" />
        <activity android:name=".admin_side.admin_welcome" />
        <activity android:name=".admin_side.foundation_profile"></activity>
    </application>

</manifest>